aiohappyeyeballs==2.4.0
aiosignal==1.3.1
annotated-types==0.7.0
async-timeout==4.0.3
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
biopython==1.84
blinker==1.8.2
Bottleneck==1.3.7
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.6.7
decorator==5.1.1
deeplake==3.9.20

duckduckgo_search==6.2.11
duckduckgo_search_api==0.1.5

filelock==3.13.1
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.53.1
fsspec==2024.2.0
ftpretty==0.4.0
goatools==1.4.12
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.24.6

importlib_metadata==7.1.0

jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.1
jupyter_core==5.7.2

langchain==0.2.15
langchain-community==0.2.14
langchain-core==0.2.36
langchain-huggingface==0.0.3
langchain-ollama==0.1.2
langchain-text-splitters==0.2.2
langsmith==0.1.107

marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16

networkx==3.2.1

numpy==1.26.4
olefile==0.46
ollama==0.3.2
openpyxl==3.1.5
orjson==3.10.7
pandas==2.2.2

patsy==0.5.6
pickleshare==0.7.5
pillow==10.2.0

pure_eval==0.2.2

PyJWT==2.9.0
pyparsing==3.1.4
PySocks==1.7.1

safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.13.1
sentence-transformers
sentencepiece
tokenizers
torch
torchaudio
torchvision
tqdm==4.66.5
torch_geometric
transformers
Werkzeug==3.0.4
esm
